 @font-face {
  font-family: 'NanumBarunGothic';
  src: url(http://drive.toonraon.cf/upload/fonts/NanumBarunGothic.ttf);
}

@font-face {
  font-family: 'DoHyeon';
  src: url(http://drive.toonraon.cf/upload/fonts/DoHyeon-Regular.ttf);
}



body, button {
  font-family: 'NanumBarunGothic'; 
  margin: 0;
}

.content a:link, .content a:visited {
  color: ForestGreen;
  text-decoration: none;
}

.content a:hover, .content a:visited:hover {
  color: LimeGreen;
  text-decoration: none;
}

.content {
  padding: 50px;
  padding-top: 0;
}

.notice {
  text-align: center;
  background: #EE143C;
  font-size: larger;
  padding: 5px;
  color: white;
  padding: 20px 10px;
  margin-top: 10px;
}

.notice p {
  padding: 0;
  margin: 0;
}

.notice a {
  color: ForestGreen;
  cursor: pointer;
}

.whale {
  text-align: center;
  background: #B5D3DB;
  font-size: larger;
  padding: 5px;
  color: black;
  padding: 20px 10px;
  margin-top: 10px;
}

.whale p {
  padding: 0;
  margin: 0;
}

.whale a {
  color: ForestGreen;
  cursor: pointer;
}

.whale img {
  width: 64px;
  height: 64px;
  display: inline;
  vertical-align: middle;
}

.whale p {
  font-size: 30px;
}

.header {
  background-color: dimgray;
  color: white;
  padding: 30px;
  margin: 0;
  text-align: center;
  box-shadow: rgba(0,0,0,0.2) 0 3px 6px 0;
  text-shadow: 2px 2px 8px black;
  text-decoration: none;
  cursor: pointer;
}

.header * {
  font-family: 'DoHyeon';
}

.header a {
  color: white;
  text-decoration: none;
  height: 100px;
}

.header h1 {
  margin: 0;
  display: inline;
  font-size: 50px;
  font-weight: normal;
}

.header #url {
  font-family: 'NanumBarunGothic' !important;
  margin: 0;
  font-size: 25px;
}

.button {
  background-color: #4CAF50;
  border: none;
  color: #ffffff;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 25px;
  border-radius: 8px;
  height: 60px;
  width: 250px;
  cursor: pointer;
  box-shadow: 2px 2px 7px #000000aa;
}

.button:hover {
  background-color: #5DBF60;
}

.extraInfos {
  display: block;
  margin: auto;
  text-align: center;
}

.infoList {
  padding: 0;
}

.infoList li {
  display: inline;
  margin: 50px;
}

.versions {
  list-style-type: none;
}

.versions .ver {
  margin-top: 20px;
  margin-bottom: 5px;
  font-weight: bold;
}

.versions .ver span {
  margin-left: 5px;
  font-weight: initial;
  font-size: small;
  color: gray;
}

.versions .features {
  padding-left: 30px;
}

.versions .features li{
  list-style-type: square;
  text-decoration: none;
  margin-bottom: 3px;
}

.versions .prev_download_link {
  padding-left: 30px;
}

.versions .prev_download_link li{
  list-style-type: square;
  text-decoration: none;
  margin-bottom: 3px;
}

.features a:link, .features a:visited {
  color: initial;
  cursor: text;
  pointer-events: none;
}

#sns-container {
  text-align: center;
  margin-bottom: 100px;
}

#sns-share {
  display: inline-block;
  margin-left: auto;
  margin-right: 0;
}

#sns-title {
  text-align: center;
  margin-bottom: 5px;
  font-size: 13px;
  letter-spacing: 5px;
}

#sns-button-container {
  text-align: center;
  height: 36px;
}

#sns-button-container>img {
  width: 36px;
  height: 36px;
  border-radius: 5px;
  margin-left: 3px;
  margin-right: 3px;
  box-shadow: 2px 2px 3px #00000055;
  cursor: pointer;
}